{% extends "layout.html.twig" %}

{% block content %}
    {% for post in posts %}
        <h2><a href="{{ path('post', {'id': post.id}) }}">{{ post.title}}</a></h2>
        <div>
            {{ post.content }}
        </div>
    {% endfor %}
{% endblock %}